<p id="notice"><%= notice %></p>

<h1>Events Created By <%= @user.name %></h1>

  <% @user.created_events.each do |event| %>

      <p>
      <strong><%= event.title %></strong>
      <%= link_to  'Details', event %>
      </p>

  <% end %>

<br>

<h2><%= @user.name %> is Attending to:</h2>

<% @user.attended_events.each do |event| %>
  <p>
  <strong><%= event.title %></strong> 
  <%= link_to  "Details", event %>
  </p>
<% end %>

<br>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
